@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

:root {
  --pink: #fd7e7e;
  --pink-light: #f1a096;
  --green: #a2c9aa;
  --blue: #7dd3ee;
  --beige: #faf9e8;
  --brown: #473430;
  --brown-dim: #745d58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--brown);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 18px;
  background-color: var(--beige);
}

body {
  min-height: 100vh;
}

/* the most general definitions and classes go here */
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 2rem;
}

p {
  margin: 1rem 0;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  text-align: justify;
}

.title {
  margin: 1rem 0;
  background: -webkit-linear-gradient(12deg, var(--pink), var(--pink-light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 2.3rem;
  text-align: center;
}

.title-alt {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

.bold {
  font-weight: 600;
}

.dim {
  color: var(--brown-dim);
}

.pink-deg-bg {
  background-image: linear-gradient(12deg, var(--pink), var(--pink-light));
}

.pink-deg-bg-alt {
  background-image: linear-gradient(to right, var(--pink), var(--pink-light));
}

.border-rad {
  border-radius: 10px;
}

.drop-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.block {
  position: relative;
  margin: 2rem 0;
  padding: 1rem;
}

.block img {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.block h3 {
  margin: 0.5rem 1rem;
  color: white;
}

.block p {
  margin: 1rem;
  color: white;
  text-align: left;
}

.outside-link {
  color: var(--pink-light);
  text-decoration: none;
}

.outside-link::after {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.15rem;
  background-image: url("./assets/icons/outside-link.svg");
  background-size: contain;
}

.whatsapp-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  padding: 1rem;
  margin: 1.5rem 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: opacity 0.2s ease-out;
}

.whatsapp-link:hover {
  opacity: 0.9;
}

.whatsapp-link::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: solid 2px white;
  border-radius: 8px;
}

.overlapping-bg-mask {
  position: absolute;
  width: 100%;
  height: 750px;
  background-color: var(--beige);
  z-index: 0;
}

.overlapping-bg-mask::after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  background-image: url("./assets/img/paw-texture.png");
  background-size: contain;
  transform: rotate(180deg);
}

.overlapping-bg-main {
  position: relative;
  z-index: 1;
}

.overlapping-bg-section {
  padding: 2rem 0 1rem 0;
}

.pet-card {
  position: relative;
  display: inline-block;
  width: 45%;
  max-width: 290px;
  aspect-ratio: 3/5;
  border-radius: 10px;
  background-color: var(--beige);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.pet-card p {
  margin: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.pet-card-img {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  background-size: cover;
  background-position: center;
}

.pet-card-img h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.pet-card-gender {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.male {
  background-color: var(--blue);
}

.female {
  background-color: var(--pink-light);
}

.pet-card-a {
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: calc(100% - 1rem);
  margin: 0.5rem;
}

/* end */

header {
  width: 100%;
  height: 3.5rem;
  padding: 1rem 0;
}

#logo {
  position: relative;
  width: 5rem;
  aspect-ratio: 1/1;
  border: solid 3px var(--pink);
  border-radius: 50%;
  z-index: 1;
}

#logo-alt {
  position: relative;
  display: block;
  width: 5rem;
  margin: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: 1;
}

#hero-banner {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
  background-image: url("./assets/img/cat-dog-banner.jpg");
  background-size: cover;
  background-position: center;
}

/* add dark gradient behind text */
#hero-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7)
  );
}

#hero-banner .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* banner height is defined here */
  padding-top: 400px;
  /* */
  padding-bottom: 2rem;
}

#hero-titles {
  position: inherit;
  z-index: 1;
}

#hero-titles h1 {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
}

#hero-titles h2 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1rem;
}

#call-to-action-wrp {
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#call-to-action-wrp a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 3.5rem;
  border: solid 2px white;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

#call-to-action-wrp a:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #242424;
}

#mini-paws {
  position: inherit;
  width: 100%;
  height: 60px;
  background-image: url("./assets/img/paw-texture.png");
  background-size: contain;
  z-index: 1;
}

#donate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: calc(100% - 2rem);
  max-width: 500px;
  margin: 2rem auto 1rem auto;
  padding: 0.9rem 0;
  border: solid 2px white;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s ease-out;
}

#donate-btn:hover {
  transform: scale(102%);
}

#heart-icon {
  position: inherit;
  animation: pulse 0.9s forwards infinite linear;
  animation-play-state: paused;
}

@keyframes pulse {
  5% {
    transform: scale(120%);
  }
  35% {
    transform: scale(90%);
  }
  50% {
    transform: scale(100%);
  }
}

#cards-wrp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin: 1rem 0;
}

.card-img {
  width: 30%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
}

.card:nth-child(1) .card-img {
  background-image: url("./assets/img/dog-bath-blob.png");
}

.card:nth-child(2) .card-img {
  background-image: url("./assets/img/ostentacao-felina-blob.png");
}

.card:nth-child(3) .card-img {
  background-image: url("./assets/img/dog-with-ipad-blob.png");
}

.card-info {
  position: relative;
  width: 70%;
}

.card-info img:not(.social-icon, .whatsapp-icon) {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.card-info h4 {
  color: var(--brown-dim);
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.social-anchor {
  margin-right: 1rem;
}

/* "adotar" page styles */
#pet-list-wrp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem 0;
}

#filters-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#switch-dogs,
#switch-cats {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  fill: var(--green);
  border: none;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

/* */

footer {
  position: relative;
  width: 100%;
  margin-top: calc(15px + 1rem);
  padding: 1rem 0;
  background-image: linear-gradient(12deg, var(--brown), var(--brown-dim));
}

footer::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(12deg, var(--pink), var(--pink-light));
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#img-wrp img {
  width: 200px;
}

#divider {
  width: 3px;
  height: 100px;
  background-color: var(--beige);
  border-radius: 3px;
}

.info-flex {
  display: flex;
  align-items: center;
}

.info-flex p {
  margin: 0.4rem 1rem;
  color: var(--beige);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1rem;
}

#credits p {
  color: var(--beige);
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width: 882px) {
  .wrapper {
    padding: 0 1rem;
  }

  #hero-banner .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  #call-to-action-wrp {
    justify-content: center;
    width: 100%;
  }

  #call-to-action-wrp a {
    width: 100%;
  }

  .card {
    flex-direction: column;
  }

  .card-img {
    width: 60%;
  }

  .card-info {
    width: 100%;
  }

  .card-info p {
    text-align: left;
  }

  .whatsapp-link {
    display: flex;
    justify-content: center;
  }

  footer {
    padding-bottom: 2rem;
  }

  footer .wrapper {
    flex-direction: column;
    gap: 0;
  }

  #divider {
    display: none;
  }

  #info-wrp {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #credits {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 16px;
  }
}
