@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

:root {
  --pink: #fd7e7e;
  --pink-light: #faa89d;
  --green: #a2c9aa;
  --beige: #faf9e8;
  --brown: #473430;
  --brown-dim: #745d58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--brown);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* the most general definitions and classes go here */
p {
  margin: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  text-align: justify;
}

.title {
  color: var(--pink);
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  background: -webkit-linear-gradient(12deg, var(--pink), var(--pink-light));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 1rem;
}

.note-block {
  position: relative;
  background-image: linear-gradient(12deg, var(--pink), var(--pink-light));
  border-radius: 10px;
  margin: 2rem 1rem;
  padding: 0.6rem 1rem;
}

.note-block img {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.note-block h3 {
  margin: 1rem 0 0 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

.note-block p {
  color: white;
  text-align: left;
}

/* end */

html {
  font-size: 18px;
}

body {
  height: 100vh;
  background-color: var(--beige);
}

header {
  width: 100%;
  height: 3.5rem;
  padding: 1rem 0;
  background-image: linear-gradient(12deg, var(--pink), var(--pink-light));
}

/* change to actual logo */
#logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  aspect-ratio: 1/1;
  border: solid 3px white;
  border-radius: 50%;
  background-color: var(--beige);
  text-align: center;
  z-index: 5;
}

#hero-banner {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  background-image: url("./assets/img/cat-dog-banner.jpg");
  background-size: cover;
  background-position: center;
}

/* add dark gradient behind text */
#hero-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7)
  );
}

#titles-n-btns-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* banner height is defined here */
  padding-top: 400px;
  /* */
  padding-bottom: 2rem;
}

#hero-titles {
  position: inherit;
  z-index: 1;
}

#hero-titles h1 {
  text-transform: uppercase;
  color: var(--beige);
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
}

#hero-titles h2 {
  display: flex;
  align-items: center;
  color: var(--beige);
  font-size: 1rem;
}

#call-to-action-wrp {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 500px;
  z-index: 1;
}

#call-to-action-wrp a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 3.5rem;
  border-radius: 10px;
  border: solid 2px var(--beige);
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--beige);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition: 0.1s ease-out;
}

#call-to-action-wrp a:hover {
  background-color: rgba(250, 249, 232, 1);
  color: #242424;
}

#mini-paws {
  position: inherit;
  width: 100%;
  height: 60px;
  background-image: url("./assets/img/paw-texture.png");
  background-size: contain;
  z-index: 1;
}

#donate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: calc(100% - 2rem);
  max-width: 500px;
  margin: 2rem auto 1rem auto;
  padding: 0.9rem 0;
  border: solid 2px white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s ease-out;
}

#donate-btn:hover {
  transform: scale(102%);
}

#heart-pulse {
  position: inherit;
  animation: pulse 0.9s forwards infinite linear;
  animation-play-state: paused;
}

@keyframes pulse {
  5% {
    transform: scale(120%);
  }
  35% {
    transform: scale(90%);
  }
  50% {
    transform: scale(100%);
  }
}

footer {
  width: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(12deg, var(--pink), var(--pink-light));
}

footer div p {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: right;
  line-height: 0.5rem;
}

@media screen and (max-width: 882px) {
  #titles-n-btns-wrp {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  #call-to-action-wrp {
    justify-content: center;
    width: 100%;
  }

  #call-to-action-wrp a {
    width: 100%;
  }
}
